<%= render "users/main_infos", user: current_user %>

<div class="container profile-user-infos">
  <div class="d-flex">
    <ul class="nav nav-tabs navbar-profile" id="myTab" role="tablist">
      <li class="nav-item nav-item-profile" role="presentation">
        <a class="nav-link active" id="future-event-tab" data-toggle="tab" href="#future-event" role="tab" aria-controls="future-event" aria-selected="false">Evènements à venir</a>
      </li>
      <li class="nav-item nav-item-profile" role="presentation">
        <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Mes amis</a>
      </li>
      <li class="nav-item nav-item-profile" role="presentation">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Mes invitations en attente</a>
      </li>
      <li class="nav-item nav-item-profile" role="presentation">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Mon historique d'évènements</a>
      </li>
    </ul>
  </div>

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
      <div class="d-flex flex-wrap justify-content-center">
        <%= render "users/friends", friends: current_user.friends %>
      </div>
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <div class="d-flex flex-column flex-wrap justify-content-center profile-invitation">
        <div class="p-3">
        <h3>Demandes d'amis en attente</h3>
        <% if current_user.invitations.empty? %>
        <p> Vous n'avez pas de demandes d'amis en attente</p>
        <% else %>
        <%= render "users/invitations", invitations: current_user.invitations %>
        <% end %>
        </div>
        <div class="p-3">
        <h3>Évenements en attente</h3>
        <% if @pending_participations.empty? %>
        <p> Vous n'avez pas d'invitations à des évènements en attente</p>
        <% else %>
        <%= render "users/participations", participations: @pending_participations %>
        <% end %>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
      <div class="d-flex flex-wrap justify-content-center">
        <%= render "users/past_events", events: @past_events %>
      </div>
    </div>
    <div class="tab-pane fade show active" id="future-event" role="tabpanel" aria-labelledby="future-event-tab">
      <div class="d-flex flex-wrap justify-content-center">
        <%= render "users/future_events", events: @future_events %>
      </div>
    </div>
  </div>
</div>



<%# current_user.friends.each do |friend|%>
  <%# <li>
      <%= friend.first_name %>
        <%#= link_to 'Unfriend',
        invitations_destroy_path(invitation_id: Invitation.find_invitation(@user.id, friend.id))  %>
  <%# </li> %>
<%# end %>
<%# </ol>
  </div> %>
