<div class="header profile-header"></div>
<div class="container profile-container">
  <div class="profile">
    <div class="pic-holder">
      <%= cl_image_tag current_user.avatar.key, height: 200, width: 200, crop: :fill, class: "pic-holder" %>
    </div>
    <div class="btn-update">
      <%= link_to "Editer mon profil", profile_path, method: :patch, class: "btn btn-primary btn-edit" %>
    </div>
    <div class="info">
      <h3><%= current_user.first_name.capitalize %> <%= current_user.last_name.capitalize %></h3>
    </div>
  </div>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <div class="user-description">
        <div class="user-informations">
          <div class="d-flex">
            <div>
              <div class="birthday d-flex">
                <i class="fas fa-birthday-cake profile-icone"></i>
                <p><%= current_user.age %> ans</p>
              </div>
              <div class="favorite-sports d-flex">
                <i class="fas fa-running profile-icone"></i>
                <p><%= current_user.sports %></p>
              </div>
              <div class="bio d-flex">
                <i class="fas fa-address-card profile-icone"></i>
                <p><%= current_user.description %></p>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>


  <%# <nav class="navbar-light navbar-expand-md justify-content-center">
    <div class="navbar-collapse collapse justify-content-around align-items-center w-100">
      <ul class="topBotomBordersOut navbar-nav text-center" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Mes amis</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Mes demandes d'amis</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Mon historique d'évènements</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="future-event-tab" data-toggle="tab" href="#future-event" role="tab" aria-controls="future-event" aria-selected="false">Evenements à venir</a>
        </li>
      </ul>
    </div>
  </nav> %>



<div class="container profile-user-infos">
  <div class="d-flex">
    <ul class="nav nav-tabs navbar-profile" id="myTab" role="tablist">
      <li class="nav-item nav-item-profile" role="presentation">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Mes amis</a>
      </li>
      <li class="nav-item nav-item-profile" role="presentation">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Mes demandes d'amis</a>
      </li>
      <li class="nav-item nav-item-profile" role="presentation">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Mon historique d'évènements</a>
      </li>
      <li class="nav-item nav-item-profile" role="presentation">
        <a class="nav-link" id="future-event-tab" data-toggle="tab" href="#future-event" role="tab" aria-controls="future-event" aria-selected="false">Evenements à venir</a>
      </li>
    </ul>
  </div>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <div class="d-flex flex-wrap justify-content-center">
        <% current_user.friends.each do |friend|%>
          <div class="card-friend">
            <%= cl_image_tag friend.avatar.key, height: 200, width: 200, crop: :fill %>
            <div class="card-friend-infos">
               <h2><%= friend.first_name %></h2>
               <p> <%= friend.sports %></p>
            </div>
        <% end %>
          </div>
      </div>
     </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <div class="d-flex flex-wrap justify-content-center">
      <% current_user.invitations.each do |invitation|%>
        <div class="card-friend">
          <%= cl_image_tag invitation.user.avatar.key, height: 200, width: 200, crop: :fill %>
          <div class="card-friend-infos">
            <h2><%= invitation.user.first_name %></h2>
            <% invitation.user.sports.first(2).each do |sport| %>
              <p><%= "#{sport[0]} avec un niveau #{sport[1]}" %></p>
              <% end %>
          </div>
          <div class="button-friendship-request">
            <%= link_to "Accepter", accept_friendship_path(invitation), method: :patch, class: "btn btn-light-blue btn-md" %>
            <%= link_to "Refuser", deny_friendship_path(invitation), method: :patch, class: "btn btn-light-blue btn-md" %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
      <div class="d-flex flex-wrap justify-content-center">
        <%= render "past_events", events: @past_events %>
      </div>
    </div>
    <div class="tab-pane fade" id="future-event" role="tabpanel" aria-labelledby="future-event-tab">
      <div class="d-flex flex-wrap justify-content-center">
        <%= render "future_events", events: @future_events %>
      </div>
    </div>
  </div>
</div>





  <%# <%= render "past_events", events: @past_events %>
  <%# <%= render "future_events", events: @future_events %>


<%# current_user.friends.each do |friend|%>
  <%# <li>
      <%= friend.first_name %>
        <%#= link_to 'Unfriend',
        invitations_destroy_path(invitation_id: Invitation.find_invitation(@user.id, friend.id))  %>
  <%# </li> %>
<%# end %>
<%# </ol>
  </div> %>
