<div class="nav navbar-primary d-flex justify-content-between">

      <div class="logo">
        <%= link_to "/", class: "navbar-brand" do %>
        <%= image_tag "sportbuddies-logo.png", class: 'logo-image' %>
        <% end %>
      </div>

      <div id="mainListDiv" class="main_list">
          <ul class="list-inline">
            <% if user_signed_in? %>

                  <li class="list-inline-item">
                    <%= link_to "Crée une partie", new_event_path, class: "nav-link" %>
                  </li>
                  <li class="list-inline-item">
                    <%= link_to "Rejoins une partie", events_path, class: "nav-link" %>
                  </li>

                  <li class="list-inline-item dropdown">
                    <%= cl_image_tag current_user.avatar.key, width: 100, heigth: 100, crop: :fill, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                      <%= link_to "Profil", profile_path, class: "dropdown-item" %>
                      <%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
                    </div>
                  </li>
              <% else %>
              <li class="list-inline-item"><%= link_to "Connexion", new_user_session_path%></li>
              <li class="list-inline-item"><%= link_to "S'inscrire", new_user_registration_path %></li>
              <% end %>


      </div>
      <span class="navTrigger">
          <i></i>
          <i></i>
          <i></i>
      </span>

</div>
