<div class="container-new-event">
  <h1>Créer ton événement</h1>
  <div class="form-new-event">
    <%= simple_form_for(@event) do |f| %>
      <label for="name">Nom</label>
      <%= f.input :name, :id => 'name',
                  label: false %>
      <%= f.input :description %>
      <label for="starts_at">Date de l'événement</label>
      <%= f.input :starts_at, as: :string, input_html: {class: "datepicker"},
                  label: false %>
      <label for="location">Localisation</label>
      <%= f.input :location,  :id => 'location',
                  label: false %>
      <label for="sport">Sport</label>
      <%= f.input :sport,
                  as: :radio_buttons,
                  label: false,
                  collection_wrapper_tag: 'div',
                  collection_wrapper_class: 'category-wrapper',
                  item_wrapper_class: 'category-item',
                  input_html: {class: 'category-selector'},
                  collection: Event::SPORTS %>
      <label for="expected_level">Niveau attendus</label>
      <%= f.input :expected_level, :id => 'expected_level',
                  label: false,
                  as: :radio_buttons,
                  input_html: { class: "tag-selector" },
                  item_wrapper_class: 'tag-item',
                  collection: Event::LEVELS %>
      <%# <%= f.input :archived, as: :boolean, input_html: { class: "toggle" } %> %>
      <%# if checked render cequil y en dessous %>
      <label for="participant">Nombre de buddies attendus : <span id="participantSliderVal"></span></label>
      <%= f.input :expected_participants_count, :id => 'participant',
                  label: false,
                  as: :string, input_html: { data: {"slider-min" => 0, "slider-max" => 22, "slider-step" => '1'}} %>
      <span id="participantSliderValLabel"></span>
      <%# else no render %>
      <%= f.button :submit, "Créer l'événement", class: 'btn-new-event' %>
    <% end %>
  </div>
</div>
