<div class="container-new-event">
  <div class="form-new-event">
    <%= simple_form_for(@event) do |f| %>
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :starts_at, as: :string, input_html: {class: "datepicker"}%>
      <%= f.input :location %>
      <%= f.input :sport %>
      <%# <%= f.input :level %>
      <label for="customRange1">Example range</label>
      <input type="range" class="custom-range" id="customRange1">
      <%= f.input :expected_participants_count %>
      <%= f.button :submit, "Connexion", class: 'btn-login btn-primary' %>
      <% end %>
  </div>
</div>
